<ion-header>
  <ion-toolbar>
    <ion-title>vihanhome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  this is vihan associates
  <!--<ion-button expand="block" color="primary" (click)="cameraservices()">
    Camera Services
  </ion-button>
  <ion-button expand="block" color="primary" (click)="watersaver()">
    Water Saver
  </ion-button>
  <ion-button expand="block" color="primary" (click)="roservices()">
    RO services
  </ion-button> -->
</ion-content>
